body
  padding-top: 3rem
  padding-bottom: 3rem
  color: #5a5a5a
html
  min-height: 100%
  position: relative
.navbar-global
  z-index: 1050
  border-bottom: 1px solid rgba(0, 0, 0, .15)
.navbar-fixed-top
  position: fixed
  width: 100%
  top: 0
