<nav class="navbar navbar-inverse navbar-expand-xl navbar-global navbar-fixed-top navbar-light bg-light">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" aria-expanded="false" data-toggle="collapse" data-target="#navbar" aria-controls="#navbar" aria-labcel="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" ui-sref="index">Twumps</a>
		</div>
	</div>
</nav>

<main role="main">
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">About us !</h1>
		</div>
	</div>

	<div class="container">
		<h1>Team</h1>
		<img ng-src="{{abc.url}}EFREI.png" class="img-right" alt="Efrei">

		<p>We are 3 students at Efrei Paris (Engineering School of Information and Digital Technologies) : Alexis DOS SANTOS, Nicolas SAILLY, Frédéric ROSSO.</p>
		<hr>
	</div>
	<div class="container">
		<h1>Topic</h1>
		<img ng-src="{{abc.url}}trump.jpg" class="img-left trump-img rounded-circle" alt="Donald Trump">

		<p>Our objective is to carry out an unconventional and creative project. We had multiple ideas but only one stood out from the crowd : create some <b>interesting statistics about Donald Trump</b>.</p><br>

		<h3>How can we do that ?</h3>
		<p>Donald Trump loves to use <b>social media</b> to communicate about his projects and beliefs. Especially <b>Twitter</b> that he uses very frequently. It is a simple way to express short ideas and Trump is a simple man.</p>

		<p>Our goal is to scrape <b>Donald Trump's Twitter account</b> to make various statistics in order to study his behaviour. Thanks to the profusion of tweets, we have a large amount of data to <b>analysis</b>. For example, it’s possible to count how many times one word is used, or find diverse lexical fields employed by Donald Trump.</p><br>

		<!-- <img ng-src="http://localhost:3005/twitter.png" class="img-right twitter-img" alt="Twitter"> -->
		<img ng-src="{{abc.url}}twitter.png" class="img-right twitter-img" alt="Twitter">

		<h3>How did we get Donald Trump's tweets ?</h3>
		<p>Twitter has an API that allows to make requests in order to retrieve our precious data. The problem is that we can only get <b>3200 tweets with the bulk GET request</b>. That is a huge problem for us, because Donald Trump has twitted more than <b>35 000 times</b>.</p><br>

		<h3>What is the solution ?</h3>
		<p>To solve this problem, we used a <b>Python script</b> to browse all Donald Trump's tweets (<a href="https://github.com/bpb27/twitter_scraping">twitter-scraping</a>), i.e. it automatically reads Donald Trump's profile, in order to retrieve the data. This method allowed us to create a first database.</p>

		<p>But another problem arose : We couldn't be sure Donald Trump was the author of every single tweet, so our dataset wasn't really reliable. That's why we contacted Ben SUGERMAN who created this website : <b><a href="http://didtrumptweetit.com/">didtrumptweetit.com</a></b>. It allowed us to distinguish tweets <b>written by Donald Trump and by his staff</b>, in the form of a percentage of accuracy. He shared his database with us, which we <b>merged</b> with the one we had.</p>
		<hr>
	</div>

	<div class="container">
		<h1>Charts</h1>
		<p>We have chosen to create different and multiple charts from Trump's tweets, every of them tries to evaluate something different</p>
		
		<h3>Words cloud</h3>
		<p>By using a words cloud, we wanted to find how much Trump use words to convince. We took Trump's tweets from our database and deleted the stopwords before and counting every other word. Then we selected the most used words and integrated them into a cloud. The bigger a word is, the more it's used by Trump</p><br>

		<h3>Emotion</h3>
		<p>Are not you curious to know if Trump is usually politically correct? You can get an answer with our emotion charts. Thanks to the sentiment library we are able to give a mark to each word and then count it for a whole tweet to evaluate the degree of positivity, neutrality and negativity of the president since he create his account.</p><br>

		<h3>Timeline</h3>
		<p>Trump is history. With our timeline you will be able to follow year by year Trump's most retweeted tweets along with some important events. To get it, we have taken tweets from our database and selected the most retweeted tweets. Then we sorted them and put them into our timeline</p><br>

		<h3>Country quoted</h3>
		<p>Which cities interest Trump's followers the most? As expected it's mostly cities lacated in the United States of America. But not only. And with this chart you can find out which tweets containing city names made the biggest buzz. By using data from Trump's tweets inside our database and by isolating countries quoted in each tweet and after counting each occurrence, we were able to create this chart and show it to you.</p><br>

		<h3>Search words</h3>
		<p>The database is not only used to create all charts. And mostly used by us. if you want, you can also use our database by searching every kind of occurrence of a word in all our Trump's tweets to get those who match with your research. You can even click on the words cloud to start a search. To make this possible, we take your selection and try to find it in our database and display the results sorted by retweet count.</p>

		<div class="img-center architecture">
			<img ng-src="{{abc.url}}architecture.png" alt="Twitter">
		</div>
	</div>
</main>
