body
  padding-top: 3rem
  padding-bottom: 3rem
  color: #5a5a5a
.carousel
  margin-bottom: 4rem
.carousel-caption
  bottom: 3rem
  z-index: 10
  text-shadow: 0 0 5px #000
.carousel-item
  height: 32rem
  & > img
    position: absolute
    width: 100%
    height: auto
    top: 0
    left: 0
    right: 0
    margin: 0 auto
html
  min-height: 100%
  position: relative
.navbar-global
  z-index: 1050
  border-bottom: 1px solid rgba(0, 0, 0, .15)
.navbar-fixed-top
  position: fixed
  width: 100%
  top: 0
.navbar-primary
  background-color: #f8f9fa
  bottom: 0
  left: 0
  position: absolute
  top: 57px
  width: 300px
  z-index: 8
  overflow-y: scroll
  -webkit-transition: all 0.1s ease-in-out
  -moz-transition: all 0.1s ease-in-out
  transition: all 0.1s ease-in-out
  &.collapsed
    width: 0
    .nav-label
      display: none
.navbar-primary-content
  padding: 10px
  & > hr
    border-top: 1px solid rgba(0, 0, 0, 0.5)
.navbar-primary-close
  color: rgba(0, 0, 0, 0.5)
  font-size: 20px
  p
    float: left
  & > a
    & > i
      float: right
      margin-top: 7px
.btn-deflate-collapse
  color: rgba(0, 0, 0, 0.5)
  &:hover
    color: rgba(0, 0, 0, 0.75)
.main-content
  margin-left: 300px
.collapsed
  & + .main-content
    margin-left: 0
#carousel
  margin-top: -56px
word-cloud,
emotion
  width: 100%
word-cloud svg,
emotion svg
  width: inherit
  min-height: 500px

.page-header h1
  font-size: 3.26em
  text-align: center
  color: #efefef
  text-shadow: 1px 1px 0 #000

/** timeline box structure *

#timeline
  overflow-y: scroll
  height: 500px

.timeline
  list-style: none
  padding: 20px 0 20px
  position: relative
  &:before
    top: 0
    bottom: 0
    position: absolute
    content: " "
    width: 3px
    background-color: #eee
    left: 50%
    margin-left: -1.5px
    

.tldate
  display: block
  width: 200px
  background: #414141
  border: 3px solid #212121
  color: #ededed
  margin: 0 auto
  padding: 3px 0
  font-weight: bold
  text-align: center
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.35)

.timeline .ng-scope
  margin-bottom: 25px

.timeline div
  position: relative
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  &:before, &:after
    content: " "
    display: table
  .timeline-panel
    width: 46%
    float: left
    background: #fff
    border: 1px solid #d4d4d4
    padding: 0px 7px 0px 7px
    position: relative
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15)
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15)
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15)
    &:before
      position: absolute
      top: 26px
      right: -15px
      display: inline-block
      border-top: 15px solid transparent
      border-left: 15px solid #ccc
      border-right: 0 solid #ccc
      border-bottom: 15px solid transparent
      content: " "
    &:after
      position: absolute
      top: 27px
      right: -14px
      display: inline-block
      border-top: 14px solid transparent
      border-left: 14px solid #fff
      border-right: 0 solid #fff
      border-bottom: 14px solid transparent
      content: " "
    &.noarrow
      &:before, &:after
        top: 0
        right: 0
        display: none
        border: 0
  &.timeline-inverted .timeline-panel
    float: right
    &:before
      border-left-width: 0
      border-right-width: 15px
      left: -15px
      right: auto
    &:after
      border-left-width: 0
      border-right-width: 14px
      left: -14px
      right: auto
  .tl-circ
    position: absolute
    top: 23px
    left: 50%
    text-align: center
    background: #6a8db3
    color: #fff
    width: 35px
    height: 35px
    line-height: 35px
    margin-left: -16px
    border: 3px solid #90acc7
    border-top-right-radius: 50%
    border-top-left-radius: 50%
    border-bottom-right-radius: 50%
    border-bottom-left-radius: 50%
    z-index: 99999

.timeline li.timeline-inverted .timeline-panel
  float: right
  &:before
    border-left-width: 0
    border-right-width: 15px
    left: -15px
    right: auto
  &:after
    border-left-width: 0
    border-right-width: 14px
    left: -14px
    right: auto
/** timeline panels *

/** panel arrows *

/** timeline circle icons *

/** timeline content *
.tl-heading
  padding: 20px

.tl-heading h4
  margin: 0
  color: #c25b4e

.tl-body
  p, ul
    margin-bottom: 0
  > p + p
    margin-top: 5px

/** media queries *
@media (max-width: 991px)
  .timeline li .timeline-panel
    width: 44%

@media (max-width: 700px)
  .page-header h1
    font-size: 1.8em
  ul.timeline:before
    left: 40px
  .tldate
    width: 140px
  ul.timeline
    li
      .timeline-panel
        width: calc(100% - 90px)
        width: -moz-calc(100% - 90px)
        width: -webkit-calc(100% - 90px)
      .tl-circ
        top: 22px
        left: 22px
        margin-left: 0
    > li >,
    .tldate
      margin: 0
      .timeline-panel
        float: right
        &:before
          border-left-width: 0
          border-right-width: 15px
          left: -15px
          right: auto
        &:after
          border-left-width: 0
          border-right-width: 14px
          left: -14px
          right: auto