<nav class="navbar navbar-inverse navbar-expand-xl navbar-global navbar-fixed-top navbar-light bg-light">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" aria-expanded="false" data-toggle="collapse" data-target="#navbar" aria-controls="#navbar" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Twumps</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" ng-click="iwc.scrollTo('cloud')">{{ "CLOUD" | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ng-click="iwc.scrollTo('emotion')">{{ "EMOTION" | translate }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ng-click="iwc.scrollTo('timeline')">{{ "TIMELINE" | translate }}</a>
				</li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" ng-model="keyword" name="keyword" required="required" placeholder='{{ "SEARCH" | translate }}'>
				<button class="btn btn-success my-2 my-sm-0 btn-expand-collapse" ng-click="iwc.wordClicked(keyword); keyword=''" type="button">{{ "SUBMIT" | translate }}</button>
			</form>
		</div>
	</div>
</nav>

<nav class="navbar-primary" ng-class="iwc.collapsed ? 'collapsed' : ''">
	<div class="navbar-primary-content">
		<div class="navbar-primary-close">
			{{ "RESULT" | translate }}
			<a ng-click="iwc.collapse()">
				<i class="btn-deflate-collapse fa fa-times"></i>
			</a>
		</div>
		<div class="navbar-primary-list">
			<div ng-repeat = "item in iwc.tweets">
				<twitter-widget twitter-widget-id=item.id_str twitter-widget-options="{'cards': 'hidden', 'align': 'right'}"></twitter-widget>
			</div>
		</div>
	</div>
</nav>

<div class="main-content">
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="first-slide" ng-src="{{iwc.url}}3.jpg" alt="First slide">
				<div class="container">
					<div class="carousel-caption text-left">
						<h1>"MAKE AMERICA GREAT AGAIN"</h1>
						<p>{{ "PDISC" | translate }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<h2>{{ "TCLOUD" | translate }}</h2>
	<div ng-if="iwc.tags.length !== 0" id="cloud">
		<word-cloud tags="iwc.tags" data-method="iwc.wordClicked"></word-cloud>
	</div>
	<br>
	<h2>{{ "TEMOTION" | translate }}</h2>
	<div ng-if="iwc.emotion.length !== 0" id="emotion">
		<emotion data="iwc.emotion"></emotion>
	</div>
	<br>
	<h2>{{ "TTIMELINE" | translate }}</h2>
	<div id="timeline">
		<ul class="timeline">
			<div ng-repeat="item in iwc.timeline">
				<div ng-if="item.odd">
					<li class="timeline-inverted">
						<div ng-if="item.year">
							<div class='tldate'>{{item.year}}</div>
						</div>
						<div ng-if="item.data">
							<div class="tl-circ"></div>
			            	<div class="timeline-panel">
			               		<div class="tl-heading">
				                 	<h4>  {{item.data}}  </h4>
				                 	<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.created.getDay()}}/{{item.created.getMonth()}}/{{item.created.getFullYear()}} </small></p>
				                </div>
				            </div>
						</div>
						<div ng-if="item.id_str">
							<div class="tl-circ"></div>
				            <div class="timeline-panel">
									<twitter-widget twitter-widget-id=item.id_str twitter-widget-options="{'cards': 'hidden', 'align': 'right'}"></twitter-widget>
							</div>
						</div>
					</li>
				</div>
				<div ng-if="!item.odd">
					<li>
						<div ng-if="item.year">
						<div class='tldate'>{{item.year}}</div>
						</div>
						<div ng-if="item.data">
							<div class="tl-circ"></div>
				            <div class="timeline-panel">
				                <div class="tl-heading">
				                 	<h4>  {{item.data}}  </h4>
				                 	<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{item.created.getDay()}}/{{item.created.getMonth()}}/{{item.created.getFullYear()}}</small></p>
				                </div>
				            </div>
						</div>
						<div ng-if="item.id_str">
							<div class="tl-circ"></div>
				            <div class="timeline-panel">
									<twitter-widget twitter-widget-id=item.id_str twitter-widget-options="{'cards': 'hidden', 'align': 'right'}"></twitter-widget>
							</div>
						</div>
					</il>
				</div>
					
				
			</div>
		</ul>
	</div>
</div>