<div class="row">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">CMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item" id="jokes">
                        <a class="nav-link" ng-class="nbc.getClass('/jokes')" ui-sref="jokes">{{ "JOKES" | translate }}</a>
                    </li>
                    <li class="nav-item" id="face">
                        <a class="nav-link" ng-class="nbc.getClass('/face_reco')" ui-sref="face">{{ "FACIAL_RECOGNITION" | translate }}</a>
                    </li>
                    <li class="nav-item" id="advertisement">
                        <a class="nav-link" ng-class="nbc.getClass('/advertisement')"  ui-sref="advertisement">{{ "ADVERTISEMENT" | translate }}</a>
                    </li>
                    <li class="nav-item" id="twitter">
                        <a class="nav-link" ng-class="nbc.getClass('/twitter')"  ui-sref="twitter">{{ "TWITTER" | translate }}</a>
                    </li>
                    <li class="nav-item" id="sms_options">
                        <a class="nav-link" ng-class="nbc.getClass('/sms_options')"  ui-sref="sms_options">{{ "SMS_OPTIONS" | translate }}</a>
                    </li>
                    <!--
                    <li class="nav-item" id="dialogues">
                        <a class="nav-link" ng-class="nbc.getClass('/dialogues')"  ui-sref="dialogues">{{ "DIALOGUES" | translate }}</a>
                    </li>
                    -->
                    <li class="nav-item" id="phones">
                        <a class="nav-link" ng-class="nbc.getClass('/phones')"  ui-sref="phones">{{ "PHONES" | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>